[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
joblib = "*"
fastapi = "*"
fastapi-cors = "*"
pandas = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
